.container{
    padding: 0 78px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap row;
}

.container > h1{
    width: 100%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin-top: 22px;
    margin-bottom: 42px;
}

.row{
    display: flex;
    flex-flow: column;
    width: 50%;
    min-height: 600px;
    max-height: 600px;
}

@media(max-width: 1000px){
    .container{
        padding: 0 12px;
    }
    .container > h1{
        font-size: 32px;
        line-height: 42px;
    }
    .row{
        width: 100%;
        min-height: unset;
    }
}