html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Inter;
}


img {
  max-width: 100%;
  height: auto;
}


/* Variables */

:root{

  --black:    #000000;
  --white:    #ffffff;

  --grey_1:   #3c3f41;
  --grey_2:   #697172;
  --grey_3:   #c3c6c8;
  --grey_4:   #e1e2e3;
  --grey_5:   #f3f3f3;
  --gray_900: #101828;
  --gray_500: #667085;


  --primary:        #144353;
  --primary_ligth:  #578887;
  --primary_pastel: rgba(87, 136, 135, 0.15);

  --accent:         #CD7474;
  --accent_ligth:   #f19898;
  --accent_pastel:  rgba(241, 152, 152, 0.15) ;

  --favorite: #FAC847;
  --success:  #a0da67;
  --warning:  #F49d48;
  --failure:  #F1554B;

  --button_sm:  8px 14px;
  --button_md:  10px 16px;
  --button_lg:  10px 18px;
  --button_xl:  12px 20px;
  --button_2xl: 16px 28px;

};

