.centroCard{
    display: flex;
    padding: 16px 22px;
    border-bottom: 1px solid #E1E2E3;
    cursor: pointer;
}

.centroCard.centroCardMap{
    padding: 0;
    border-bottom: unset;
}

.centroCard > .centroCardText{
    margin-left: 30px;
}

.centroCard.centroCardMap > .centroCardText{
    margin-left: 10px;
}

.centroCard > .centroCardText > h2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #344054;
}

.centroCard.centroCardMap > .centroCardText > h2{
    font-size: 12px;
    line-height: 18px;
}

.centroCard > .centroCardText > p{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #484848;
    margin-top: 4px;
}

.centroCard.centroCardMap > .centroCardText > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}

.centroCard > .centroCardText > p > span{
    margin-left: 5px !important;
    margin-right: 8px !important;
}

.centroCard > .centroCardText > span{
    display: inline-block;
    margin-top: 14px;
    padding: 2px 10px;
    background: rgba(87, 136, 135, 0.15);
    border-radius: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #144353;
}

.centroCard.centroCardMap > .centroCardText > span{
    position: absolute;
    right: 30px;
    bottom: 15px;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 18px;
}

.centroCard > .centroCardStars{
    margin-left: auto;
}
