.header {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 80px;
}

.logo {
    padding: 0 30px;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 80px;
    width: 17%;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 83%;
    list-style: none;
}

.nav_menu .options {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.05rem;
}

.nav_item {
    cursor: pointer;
    color: #144353;
    font-weight: 400;
}

.nav_menu .buttons {
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    list-style: none;
    font-size: 1.05rem;
}

.nav_btn1,
.nav_btn2 {
    text-align: center;
    background-color: transparent;
    color: #144353;
    border: none;
    height: 2rem;
    width: max-content;
    cursor: pointer;
    margin-right: 2rem;
    font-size: medium;
}

.nav_btn2 {
    background-color: #144353;
    border-radius: .25rem;
    color: #eeeeee;
}

.nav_item_link,
.nav_btn1 {
    padding: 8px 12px;
    border-radius: .25rem;
    width: max-content;
}

.nav_item_link:hover {
    background-color: #f3f3f3;
    color: #F19898;
    transition: 0.5s;
}

.nav_btn1:hover {
    background-color: #144353;
    color: #F19898;
    transition: 0.5s;
}

.nav_btn2:hover {
    background-color: #578887;
    color: #F19898;
    transition: 0.5s;
}

.nav_toggle {
    background: none;
    display: flex;
    flex-direction: column;
    border: none;
    cursor: pointer;
    font-size: 30px;
    display: none;
}

.burguer1,
.burguer2,
.burguer3,
.brgOpn1,
.brgOpn2,
.brgOpn3 {
    width: 29px;
	height: 4px;
	background-color: #144353;
	margin-top: 3px;
	border-radius: 10px;
}

.brgOpn1,
.burguer3 {
    transform-origin: 10% 0%;
}

.brgOpn3,
.burguer1 {
    transform-origin: 10% 100%;
}

.brgOpn1,
.brgOpn3 {
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.burguer1,
.burguer3 {
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.brgOpn1 {
    transform: rotate(42deg);
}

.brgOpn2 {
    visibility: hidden;
}

.brgOpn3 {
    transform: rotate(-42deg);
}

@media (max-width: 991px) {
    .logo img {
        width: 10rem;
    }

    .nav_menu .options {
        font-size: 17px;
        justify-content: space-evenly;
    }

    .nav_menu .buttons {
        justify-content: space-evenly;
    }

    .nav_menu .buttons .nav_btn1,
    .nav_menu .buttons .nav_btn2 {
        margin: 0;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .logo {
        line-height: 68px;
    }

    .logo img {
        width: 7rem;
    }

    .nav_menu .options {
        font-size: 13px;
    }

    .nav_menu .buttons .nav_btn1,
    .nav_menu .buttons .nav_btn2 {
        margin: 0;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .logo {
        line-height: 85px;
    }

    .nav {
        left: 0;
    }

    .logo img {
        width: 10rem;
    }

    .nav_menu .options,
    .nav_menu .buttons .nav_btn1,
    .nav_menu .buttons .nav_btn2 {
        font-size: 20px;
    }

    .nav_toggle {
        display: inline-flex;
        padding: 0 30px;
    }

    .nav_btn1,
    .nav_item {
        color: #eeeeee;
    }

    .nav_btn1 {
        padding: 0 12px;
    }

    .nav_btn1,
    .nav_btn2 {
        margin: 0;
        font-size: 18px;
        text-align: center;
        align-items: center;
    }

    .nav_menu {
        position: fixed;
        flex-direction: column;
        background-color: #578887;
        left: 0;
        top: 80px;
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: auto;
        margin: 0;
        left:  100%;
        transition: left 0.3s;
        transform: translateX(0%);
    }

    .nav_menu_visible {
        left: 0;
    }

    .nav_menu .buttons,
    .nav_menu .options {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}