<h3> ¡Hola {{ user.fullName }}! </h3>
<section>
  <p>Da <a href="{{ url }}">click aquí</a> para comenzar la recuperación de la contraseña.</p>
  <p>Si no fuiste tú desestima el mensaje.</p>
</section>