.logo {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 80px;
    width: 17%;
}

@media (max-width: 991px) {
    .logo img {
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .logo {
        line-height: 68px;
    }

    .logo img {
        width: 7rem;
    }
}

@media (max-width: 576px) {
    .logo {
        line-height: 85px;
    }


    .logo img {
        width: 10rem;
    }
}